.App{
}
.img-logo{
  display: flex;
  width: 40%;
  margin: auto;
  margin-top: 8%;
}

.logo-img{
  display: flex;
  width: 40%;
  margin: auto;
  margin-top: 30%;
}

.form {
  border: 1px solid black;
  width: 25%;
  height: 100%;
  margin: auto;
  padding: 0 15px;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 7px 7px 9px 3px #24004628;
  background-color: #240046;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  align-items: center;
  color: #000;
}

.message, 
.signin {
  font-size: 14.5px;
  color: black
}

.message{
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  margin-top: 20px;
  line-height: 35px;
}

.signin {
  text-align: center;
  margin-top:40px;
  color: #00bfff;
}

.signin2 {
  text-align: center;
  margin-top: -10px;
  color: #00bfff;
}

.signin3 {
  text-align: center;
  margin-top: 55px;
  color: #00bfff;
}

.link{
  text-decoration: none;
  color: #fff;
}

.Skip {
  text-align: center;
  margin-top: 30px;
  color: #00bfff;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.form .input{
  color: #000;
  width: 80%;
  margin: 5px;
  padding: 10px 05px 05px 10px;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 4px;
}

.form {
  color: rgba(20, 19, 19, 0.5);
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: rgba(59, 53, 53, 0.397);
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.boutton{
  width: 79%;
  height: 50px;
  font-size: medium;
}

.submit1 {
  display: block;
  width: 80%;
  margin: auto ;
  margin-top: 10px;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: #00bfff;
}
.submit2 {
  display: block;
  width: 80%;
  margin: auto ;
  margin-top: 20px;
  border: 1px solid black;
  outline: none;
  padding: 12px;
  border-radius: 10px;
  color: #222;
  font-size: 16px;
  transform: .3s ease;
  background-color: none;
}

.content__or-text {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  column-gap: 10px;
  margin-top: 0px;
  color: #fff;
}

.content__or-text span:nth-child(3),
.content__or-text span:nth-child(1) {
  display: block;
  margin: 14px;
  width: 80%;
  height: 2px;
  background-color: rgb(219, 219, 219);
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #240046;
  max-height: 420px;
  overflow: hidden;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 7px 7px 10px 3px #24004628;
}
.main .form{
  color: rgb(219, 219, 219);;
  background-color: gray;
padding: 20px;
}

.boutton #signInDiv{
  margin-left: 5px;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .form {
    border: 1px solid black;
    width: 50%;
    height: 100%;
    padding: 0 15px;
    margin-top: 20px;
    text-align: center;
    
  }
  div #signInDiv{
    margin-left: 5px;
    width: 100%;
  }

}
@media screen and (max-width: 556px) {
  .form {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0 15px;
    margin-top: 20px;
    text-align: center;
   
  }
  

}



